
<head>
<meta http-equiv="content-type" content="text/html;charset=windows-1255"/>
<script language="javascript">

function check()
{


if(document.f.nick.value=="")
{
alert("User name cannot be empty");
return false;
}





return true;
}



</script>
</head>
<body bgcolor="yellow">

<!img src="" height="400" width="400" style="position:absolute;top:10;left:100;z-index:-1;"/>

<form action="main.asp" method="post" name="f" onsubmit="return check();">
<font size="7" color="green">
Registered users:
</font><br/>
<font size="6" color="blue">
User name: <input type="text" name="nick"/><br/>
Password: <input type="password" name="pass"/><br/>
</font>
<input type="submit" value="Login"/><br/><br/><br/>

<a href="register.html">
<font size="5" ><b>
Register
</b></font>
</a>
<br/><br/>
<a href="about.html">
<font size="4" ><b>
About the site
</b></font>
</a>


</form>

</body>
