
<head>


<script language="javascript">

function check()
{
a=document.f2.nick.value;
for(i=0;i<a.length;i++)
	if(a.charAt(i)==' ')
	{
	alert("Nick name must be with no spaces");
	return false;
	}

if(a=="")
{
alert("User name can't be empty");
return false;
}


a=document.f2.name.value;
x=0;
for(i=0;i<a.length;i++)
	if((a.charAt(i)<='z'&&a.charAt(i)>='a')||(a.charAt(i)<='Z'&&a.charAt(i)>='A')||a.charAt(i)==' ')
	x=1;
	else
	{
	alert("First name must be only letters or spaces");
	return false;
	}
if(a=="")
{
alert("First name must not be empty");
return false;
}	

a=document.f2.last.value;
x=0;
for(i=0;i<a.length;i++)
	if((a.charAt(i)<='z'&&a.charAt(i)>='a')||(a.charAt(i)<='Z'&&a.charAt(i)>='A')||a.charAt(i)==' ')
	x=1;
	else
	{
	alert("Last name must be only letters or spaces");
	return false;
	}
if(a=="")
{
alert("Last name must not be empty");
return false;
}	



a=document.f2.icq.value;
for(i=0;i<a.length;i++)
	if(a.charAt(i)>'9'||a.charAt(i)<'0')
	{
	alert("ICQ number must be only numbers");
	return false;
	}

a=document.f2.mail.value;

if(a.charAt(0)=='@')
{
alert("At the E-mail address, '@' must not be on the start");
return false;
}

if(a.indexOf("@")+1==a.indexOf("."))
{
alert("At the E-mail address, '@' must not be right next to '.'");
return false;
}

if(a.indexOf("@")>a.indexOf("."))
{
alert("At the E-mail address, '@' must be before '.'");
return false;
}


if(a.indexOf(".")==a.length-1&&a.indexOf(".")!=-1)
{
alert("At the E-mail address, '.' must not be at the end");
return false;
}



for(i=0;i<a.length;i++)
	if(a.charAt(i)==' ')
	{
	alert("E-mail address can't have spaces");
	return false;
	}


return true;
}

</script>

</head>

<body>
<form action="regsuc.asp" method="post" name="f2" onsubmit="return check();">
<font size="7">
Registration
</font><br/>
<font size="6" color="green">
User name (20 digits max): <input type="text" name="nick" maxlength="20"/><br/>
Password (15 digits max): <input type="text" name="pass" maxlength="15"/><br/>
First name (25 digits max): <input type="text" name="name" maxlength="25"/><br/>
Last name (25 digits max): <input type="text" name="last" maxlength="25"/><br/>
ICQ number (leave empty for none): <input type="text" name="icq"/><br/>
E-Mail address (leave empty for none): <input type="text" name="mail" size='35'/><br/>



</font>
<font size="5" color="red">
<br/>
<img src="pic/stop.gif" height="50"/>
<br/>
Warning: remember your password or write it down somewhere<br/>
</font>
<br/><br/>
<input type="submit" value="Register"/><br/>
</form>
</body>
