<head>
<script language="javascript">
function check()
{

a=document.f.topic.value;

if(a=="")
{
alert("Topic name must not be empty");
return false;
}



a=a.toLowerCase();


if(a=="user"||a=="topic"||a=="topicd"||a=="postd")
{
alert("Topic name cannot be 'user' or 'topic' or 'topicd' or 'postd' at any version");
return false;
}




a=document.f.post.value;

if(a=="")
{
alert("The post must not be empty");
return false;
}


a=document.f.a.value*1;
if(a>255)
{
alert("The post can't have more than 255 letters");
return false;
}



return true;

}

</script>
</head>

<body>
<form name="f" action="topic.asp" method="post" onsubmit="return check();">
Topic name:<br/>
<input type="text" name="topic"/><br/>
First post:<br/>
<textarea name="post" cols="50" rows="20" onchange="document.f.a.value=document.f.post.value.length;">
</textarea>
<br/><br/>
Letters: <input type="text" name="a" value="0" size="2" readonly/><br/>
<input type="submit" value="Post"/>
<br/><br/><br/><a href="main.asp">Back to forum</a>





</form>
</body>